main{
    padding-top: 150px;
}
footer{
    margin-top: 80px;
}
.thumbnail-upload {
    position: relative;
    margin: 0px auto 0px auto;
}
.thumbnail-upload .thumbnail-preview {
    display: none;
    /*width: 1068px;*/
    height: 550px;
    position: relative;
    border-radius: 12px;
}
.thumbnail-upload .thumbnail-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
